<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="alert alert-danger col-7 offset-3" role="alert" >
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        &nbsp;&nbsp;&nbsp;
        <span class="alert-heading"><%= message %></span>
    </div>
</div>